@model IEnumerable<InteractiveVoiceResponseSystem.Areas.Instructor.Models.MLASDB.MlasCourseInfo>

@{
    ViewData["Title"] = "Home Page";
}

<div>
    @foreach(var courseInfo in Model)
    {
        <div class="bg-white shadow rounded mb-4 px-6 py-4">
            <div class="flex justify-between items-center">
                <h5 class="text-2xl font-bold">@courseInfo.CCourseName</h5>
                <div>
                    <a  class="button button-gray"
                        asp-controller="Profession" 
                        asp-action="Create" 
                        asp-route-courseId="@courseInfo.CCourseId">New Profession</a>
                </div>  
            </div>
            <div class="mt-6">
                @foreach (var profession in courseInfo.Professions)
                {
                    <a class="block text-lg mb-2 px-4 py-3 border rounded hover:border-gray-400 hover:shadow"
                       asp-controller="Profession" 
                       asp-action="Show" 
                       asp-route-id="@profession.CProfessionId">
                        @profession.Name
                    </a>
                }
            </div>
        </div>
    }
</div>
