<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Interactive Voice Response System</title>

    <link rel="stylesheet" href="~/css/tailwind.css"/>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="bg-gray-100">
<div class="min-h-screen flex flex-col">
    <header>
        <nav class="bg-white border-b border-gray-300">
            <div class="container mx-auto flex justify-between items-center py-6">
                <a class="text-xl"
                   asp-area="Instructor"
                   asp-controller="Home"
                   asp-action="Index">Interactive Voice Response System</a>
                <ul class="flex">
                    <li class="mr-4">
                        <a href="#" class="text-gray-600 hover:text-gray-800">Home</a>
                    </li>
                    <li>
                        <a href="#">Tea1</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container mx-auto flex-1">
        <main role="main" class="py-6">
            @RenderBody()
        </main>
    </div>
    <footer class="bg-white border-t border-gray-300 py-4 text-muted">
        <div class="container mx-auto">
            &copy; 2019 - Interactive Voice Response System
        </div>
    </footer>
</div>

<script src="~/js/dist/app.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@RenderSection("Scripts", required: false)
</body>
</html>
