@using Newtonsoft.Json
@model InteractiveVoiceResponseSystem.Areas.Instructor.Models.NewVersionHintsDB.QuestionGroupTree

<div class="flex -mx-2">
    <div class="w-1/3 bg-white rounded px-6 py-4 shadow mx-2">
        <h2 class="text-2xl mb-2 font-semibold">Exercise Tree</h2>
        <exercise-tree-view
            :tree-data="@ViewBag.treeData"
            :profession-id="@ViewBag.professionId"
            :selected-node-id="@ViewBag.selectedNodeId"/>
    </div>
    <div class="w-2/3 bg-white rounded px-6 py-2 shadow mx-2">
        <exercise-question :node="@JsonConvert.SerializeObject(Model)" />
    </div>
</div>
